<!-- Цвет фона и текста-->
<html>
<head>
<title>HTML фон</title>
</head>
<body style="color:mediumaquamarine; background-color:#C0C0C0">
    <!-- end-->
    <!-- Поисковик start-->
    <div class="row column">
    <div class="top-bar">
  <div class="top-bar-title">
    <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon dark" type="button" data-toggle></button>
    </span>
    <strong><img class="image" src="assets/img/l2.png" alt="Space"></strong>
  </div>
  <div id="responsive-menu">
    
  </div>
  <div id="responsive-menu">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li>

          <a href="#">Категории</a>
          <ul class="menu vertical">
            <li><a href="#">AutoCad</a></li>
            <li><a href="#">Git</a></li>
            <li><a href="#">Unity</a></li>
            <li><a href="#">3ds Max</a></li>
            <li><a href="2page.html">Foundation for sites</a></li>
          </ul>
        </li>
        
  
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><input type="search" placeholder="Поиск"></li>
        <li><button type="button" class="button">Поиск</button></li>
      </ul>
    </div>
  </div>
</div>
</div>
<!-- topmenu end-->
